<!doctype html>
<html>
<head>
    <title>Bones and Teeth Battle Royale Sign in Sheet</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="container">

    <div class="jumbotron text-center">
        <h1>Welcome to the Boneyard</h1>
        <img src="2mainBackground.jpg" alt="Main Image">
        <p>I mean my backyard, not the boneyard...okay, who am I kidding? 
            These Bone Thugs are out of Harmony, and I need you to get them back in tune, before the biting rappers steal their style! 
            hahaha Least thats what I tell myself to sound more gangster. 
            You see, I am in competition with the tooth fairy to see who gets which burial plot. 
            Come on and log-in so you can help us settle this once and for all!!!" </p>

        <p>Login or Signup:</p>

        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span>Login</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span>Signup</a>

    </div>

</div>
</body>
</html>
